  body {
  	background-image:url ('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZC3MEL82Bsw5btpuMwcfDnsnb9S-lBpo6yBhxKMZUZuDNwAHz8w');
  }
  .header {
 	color : red;
 	font-size : 50px;
 	text-align: center;
 }
  .game h2 {
  	text-align: center;
  	font-size : 30px;
  	font-style: times;
  	color:#6495ED;
  }
  .rock {
  	float : left;
  	font-size : 30px;
  	color : brown;
  	margin-right: 120px;
  	margin-left: 10px;
  	


  }
  .rock:hover{
	cursor:pointer;

  }
  .paper {
  	float : left;
  	color : #00FFFF;
  	font-size : 30px;
  	margin-left : 160px;
  	margin-right: 120px;
  	
  }
  .paper:hover {
  	cursor:pointer;
  }
  .fireball {
  	
  	color:red;
  	font-size :30px;
  	float : left;
  	margin-left:60px;
  }
  .fireball:hover{
  	cursor:pointer;
  }
.scoreboard {
	border : 1px;
}
.scorebox {
	border : 1px;
	float:right;
}


.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }

}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */